@font-face {
  font-family: 'OpenSans';
  src: local('OpenSans'),
    url(./fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'OpenSans-Light';
  src: local('OpenSans-Light'),
    url(./fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
}
